@model UserProfileViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Profil";
}

<div class=" content-area">
    <div class="page-header">
        <h4 class="page-title">Edit Profile</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
        </ol>
    </div>
<div class="row">


        <div class="col-lg-8 col-xl-9">
        <div class="card">
            <div class="card-header"><h2 class="card-title">Edit profile</h2></div>
            <div class="card-body">
                <div class="e-profile">
                    <div class="row">
                        <div class="col-12 col-sm-auto mb-3">
                            <div class="mx-auto img-2">
                                    <img src="..\..\assets\images\faces\male\16.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                            <div class="text-center text-sm-left mb-sm-0">
                                <div>
                                    <button class="btn btn-primary btn-block mt-5" type="button">
                                        <i class="fa fa-fw fa-camera"></i>
                                        <span>Change Photo</span>
                                    </button>
                                </div>
                                <button class="btn btn-secondary btn-block mt-2" type="button">
                                    <i class="fa fa-fw fa-camera"></i>
                                    <span>Remove Photo</span>
                                </button>
                            </div>
                            <div class="text-center text-sm-right">

                                    @if
                                    (
                                    @User.IsInRole(Roles.Admin)
                                    )
                                {
                                        <span class="badge badge-secondary">administrator</span>
                                    }else if( @User.IsInRole(Roles.User) )
                                    {
                                        <span class="badge badge-secondary">user</span>
                                }
                                    else if(@User.IsInRole(Roles.Passive)){
                                        <span class="badge badge-secondary">user</span>
                                    }
                                        
                                    

                                    <div class="text-muted"><small>Joined @Model.RegisterDate.ToShortDateString()</small></div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content pt-3">
                        <div class="tab-pane active">
                            <form class="form" asp-controller="Account" asp-action="Profile" novalidate="">
                                <div class="row">
                                    <div class="col" asp-validation-summary="ModelOnly"></div>
                                    @if (ViewBag.Message != null)
                                    {
                                        <div class="text text-success">@ViewBag.Message</div>
                                    }
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                        <label class="form-label">Name</label>
                                                        <input type="text" asp-for="Name" class="form-control" placeholder="Name">
                                                        <span class="text text-danger" asp-validation-for="Name"></span>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                        <label class="form-label">Surname</label>
                                                        <input type="text" asp-for="Surname" class="form-control" placeholder="Surname">
                                                        <span class="text text-danger" asp-validation-for="Surname"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col">
                                                <div class="form-group">
                                                    <label class="form-label">Email</label>
                                                        <input class="form-control" asp-for="Email" type="text" placeholder="user@example.com">
                                                        <span class="text text-danger" asp-validation-for="Email"></span>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                                <div class="float-right mt-0 mb-0">

                                    <button class="btn btn-primary " type="submit">Update Profile</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header"><h2 class="card-title">Change Password</h2></div>
            <div class="card-body">
                <form class="form" novalidate="">
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-label">Current Password</label>
                                        <input class="form-control" asp-for="ChangePasswordVM.CurrentPassword" placeholder="••••••">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-label">New Password</label>
                                        <input class="form-control" asp-for="ChangePasswordVM.NewPassword" placeholder="••••••">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-label">Confirm <span class="d-none d-xl-inline">Password</span></label>
                                        <input class="form-control" asp-for="ChangePasswordVM.NewPasswordConfirm" placeholder="••••••">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="float-right mt-0 mb-0">
                        <button class="btn btn-secondary mr-3" type="submit">Cancel</button>
                        <button class="btn btn-primary " type="submit">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>